.game-play__slider-count {
  font-family: "HVDComicSerifPro";
  color: $white;
  font-size: 20px;
  text-align: right;
  padding-top: 25px;
}
.game-play__slider {
  .slick-list {
    box-shadow: 0 15px 35px 10px rgba(0, 0, 0, 0.1);
  }
  .slick-arrow {
    position: absolute;
    cursor: pointer;
    background: transparent;
    bottom: -90px;
    left: 50%;
    transform: translate(-50%, 0);

    &.prev-icon {
      position: absolute;
      z-index: 1;
      margin-left: -50px;
    }
    &.next-icon {
      position: absolute;
      z-index: 1;
      margin-left: 50px;
    }
    img {
      width: 60px;
    }
  }
}
