@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}
@media screen and (max-width: 1400px) {
  .section__container {
    max-width: 991px;
  }
  .about__logos {
    margin-top: 30px;
  }
  .section__wrap .section .inner__section {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .header .top-header {
    padding: 20px 20px 0;
  }
  .overlay-menu .overlay-menu__footer {
    padding: 0 20px 20px;
  }
  .menu__social {
    left: 20px;
    bottom: 25px;
    top: auto;
  }
  .menu__social a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
  }
  .header .top-header__nav .nav-btn {
    height: 38px;
    width: 35px;
    margin-top: 0;
  }
  .header .top-header__nav .nav-btn > span,
  .header .top-header__nav .nav-btn:after,
  .header .top-header__nav .nav-btn:before {
    height: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .header .top-header__nav .nav-btn.open:before {
    -webkit-transform: translate(0, 12px) rotate(-45deg);
    -moz-transform: translate(0, 12px) rotate(-45deg);
    transform: translate(0, 12px) rotate(-45deg);
  }
  .header .top-header__nav .nav-btn.open:after {
    -webkit-transform: translate(0, -12px) rotate(45deg);
    -moz-transform: translate(0, -12px) rotate(45deg);
    transform: translate(0, -12px) rotate(45deg);
  }
  .download-btn {
    padding-top: 50px;
  }
  .footer .footer__bottom {
    padding: 0 20px 10px;
  }
  .section__wrap .section h1 {
    font-size: 65px;
  }
  .section__wrap .section h2 {
    margin-bottom: 20px;
  }
  .section__wrap .section .download-btn {
    margin-top: 40px;
  }
  .section__wrap .section .download-btn a {
    margin: 0 5px;
  }
}
//smaller screen
@media screen and (max-width: 480px) {
  .overlay-menu .overlay-menu__download a {
    margin: 0 20px 10px;
  }
  .overlay-menu .overlay-menu__download a:first-child {
    margin-left: 0;
  }
  .overlay-menu .overlay-menu__download a:last-child {
    margin-right: 0;
  }
  .section__wrap .section .footer .download-btn img {
    max-width: 130px !important;
  }
}
@media screen and (max-width: 360px) {
  .overlay-menu .overlay-menu__download a {
    margin: 0 10px 10px;
  }
  .overlay-menu__inner ul li a {
    margin-bottom: 15px;
  }
  .section__wrap .section .download-btn a img {
    max-width: 130px;
  }
}
